html, body, ul, li {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    position: relative;
    background: #000;
}
ul, li {
    list-style: none;
}
ul {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
li {
    display: block;
    position: absolute;
    background-size: cover;
    width: 33%;
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: calc(100% / 3);
}
a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    transition: opacity .2s cubic-bezier(.4,0,.2,1), box-shadow .2s cubic-bezier(.4,0,.2,1);
    box-shadow: none;
}
li:hover > a, a:hover {
    box-shadow: inset 10px 10px #111,inset -10px -10px #111;
}
li:hover > a, a:hover,
li:hover > a > span, a:hover > span {
    opacity: 1;
}
a {
    background-color: rgba(0,0,0,0.7);
}
a, a > span {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    font-family: Cousine,Consolas,Menlo,Monaco,Courier,monospace;
}
a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
    opacity: 0;
}
li:nth-child(1) {
    top: 0;
    left: 0;
    right: 66%;
    right: -webkit-calc(100% / (3 / 2));
    right: -moz-calc(100% / (3 / 2));
    right: calc(100% / (3 / 2));
    bottom: 50%;
    background-image: url(https://i.imgur.com/ZNOOfBA.jpg);
}
li:nth-child(2) {
    top: 0;
    left: 33%;
    left: -webkit-calc(100% / 3);
    left: -moz-calc(100% / 3);
    left: calc(100% / 3);
    right: 33%;
    right: -webkit-calc(100% / 3);
    right: -moz-calc(100% / 3);
    right: calc(100% / 3);
    bottom: 50%;
    background-image: url(https://i.imgur.com/XkFvNkt.jpg);
}
li:nth-child(3) {
    top: 0;
    left: 66%;
    left: -webkit-calc(100% / (3 / 2));
    left: -moz-calc(100% / (3 / 2));
    left: calc(100% / (3 / 2));
    right: 0;
    bottom: 50%;
    background-image: url(https://i.imgur.com/o8KpLwa.jpg);
}
li:nth-child(4) {
    top: 50%;
    left: 0;
    right: 66%;
    right: -webkit-calc(100% / (3 / 2));
    right: -moz-calc(100% / (3 / 2));
    right: calc(100% / (3 / 2));
    bottom: 0;
    background-image: url(https://i.imgur.com/Jdakavl.jpg);
}
li:nth-child(5) {
    top: 50%;
    left: 33%;
    left: -webkit-calc(100% / 3);
    left: -moz-calc(100% / 3);
    left: calc(100% / 3);
    right: 33%;
    right: -webkit-calc(100% / 3);
    right: -moz-calc(100% / 3);
    right: calc(100% / 3);
    bottom: 0;
    background-image: url(https://i.imgur.com/kNUeBd5.jpg);
}
li:nth-child(6) {
    top: 50%;
    left: 66%;
    left: -webkit-calc(100% / (3 / 2));
    left: -moz-calc(100% / (3 / 2));
    left: calc(100% / (3 / 2));
    right: 0;
    bottom: 0;
    background-image: url(https://i.imgur.com/7Swbcsg.jpg);
}  
